@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

:root {
  --background-color-primary: #ffa8b6;
  --text-color-primary: #f3f3f3;
}

body {
  background-color: var(--background-color-primary);
  color: var(--text-color-primary);
  font-family: "Roboto", sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.2rem;
}
